<table>
  <thead>
    <tr>
      <th>Comments</th>
    </tr>
  </thead>

  <tbody>
    <% @post.comments = policy_scope(Comment) %>
    <% @post.comments.each do |comment|  %>
      <tr id ="<%= dom_id(comment) %>">
        <td><%= comment.body %></td>
        <td>
          <% if policy(@comment).approve? %>
            <% @post = Post.find(params[:id]) %>
            <%= form_for [@post, comment], url: { action: "update" } do |c| %>
              <%= c.hidden_field :approved, :value => true %>
              <%= c.submit "Approve" %>
            <% end %>
          <% end %>
        </td>
    <% end %>
      </tr>
  </tbody>
</table>
