<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<div class="picture">
  <%=image_tag @project.image_url.to_s %>
</div>

<p>
  <strong>Technologies Used:</strong>
  <%= @project.technologies_used %>
</p>

<!--add new comments-->
<%= render 'comments/form' %>

<!--Display Comments-->
<%= render 'comments/table' %>

<%= link_to 'Back', posts_path %> |
