<h2><%= t "posts.title" %></h2>

<table id="posts">
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Created At</th>
    </tr>
    <td>
  </thead>
  <tbody>

    <% @posts.each do |post| %>
      <tr id="<%= dom_id(post) %>">
        <td><%= post.title %></td>
        <td><%= post.body %></td>
        <td><span class="timestamp">at <%=I18n.l post.created_at%></span></td>
        <td><%= link_to 'Show', post %></td>

        <% if policy(@posts).update? %>
          <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <% end %>
        <% if policy(@posts).destroy? %>
          <td><%= link_to 'Destroy', post_path(post), id: "destroy", remote:true,  method: :delete, data: { confirm: 'Are you sure?'} %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

