<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>


    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <% flash.each do |key, value| %>
      <div class= "alert-box round<%= flash_class(key)%>">
        <%=value %>
      </div>
    <% end %>
  </head>

  <body>
    <div id="sign_in">
      <%= render "sign_in" %>
    </div>

    <div>
      Language:
      <%= link_to_unless_current "English", locale: "en" %>
      <%= link_to_unless_current "Pirate", locale: "yr" %>
    </div>

  <%= yield %>

  </body>
</html>
